.products-card-container {
  margin-left: 23%;
  margin-top: 5%;
  max-width: 72%;
  height: auto;

  background: #ffffff;
  border-radius: 13px;
}
.product-photo-box {
  width: 55.08px;
  height: 53px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#products-card-item {
  margin: 2%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.title-display-style {
  display: flex;
  flex-direction: row;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
}
.product-action-button {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
}
.products-action-button-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products-form-select {
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-image: url(./dropdown.svg);
  background-position: calc(100% - 20px) 10px, calc(100% - 20px) 10px, 100% 0;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.products-add-button {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 79px;
}
.products-add-button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
}
.products-card-container-mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .products-card-container {
    display: none;
  }
  .products-card-container-mobile {
    display: block;
  }
}

.products-card-container-mobile tbody tr {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.products-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 5%;
  width: 90%;
}
.products-action-button {
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-image: url(./dropdown.svg);
  background-position: calc(100% - 20px) 10px, calc(100% - 20px) 10px, 100% 0;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
