body {
  margin: 0;
  background: #e5e5e5;
}

.dashboard-shop-image {
  width: 10vw;
  height: 10vw;
  margin-left: 10%;
}

.dashboard-shop-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 0;
  width: 20%;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: yellow;
}

.nav-item {
  margin-top: 5%;
}
.nav {
  flex-wrap: nowrap;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.dashboard-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #ffb800;
}
.dashboard-full-box {
  margin-left: 22%;
  padding: 1px 16px;
  height: 1000px;
}
.dashboard-item-list-box {
  margin: 7%;
  width: 200px;
  height: 100px;
  background-color: white;
  text-align: center;
  padding: 1.5%;
}
.dashboard-mobile-buttons {
  display: none;
}
.dashboard-graphs-container-pc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}
.dashboard-graphs-container-mobile {
  display: none;
}
#dashboard-graph1 {
  width: 343px;
  height: 249px;
  background: #ffffff;
  border-radius: 13px;
}
#curve_chart {
  /* margin: 5%; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
#dashboard-graph2 {
  width: 343px;
  height: 249px;
  background: #ffffff;
  border-radius: 13px;
}
#chart_div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.459);
}

#dashboard-graph3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dashboard-graph3-1 {
  width: 343px;
  height: 116px;

  background: #ffffff;
  border-radius: 13px;
}
#dashboard-graph3-2 {
  width: 343px;
  height: 116px;

  background: #ffffff;
  border-radius: 13px;
}
.dashboard-mobile-graph1 {
  height: 249px;
  background: #ffffff;
  border-radius: 13px;
}
#chart_div1,
#curve_chart1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.459);
}
@media screen and (max-width: 800px) {
  .dashboard-graphs-container-pc {
    display: none;
  }
  .dashboard-mobile-buttons {
    display: block;
    margin-top: 2%;
  }
  .nav {
    display: none;
  }
  .dashboard-graphs-container-mobile {
    display: block;
    margin-top: 5%;
  }
  .dashboard-item-list {
    display: none;
  }
  .dashboard-full-box {
    margin-left: 0;
    padding: 0px;
    height: auto;
  }
  .shop-status {
    width: 40px;
    height: 40px;
  }
  .currentpage {
    background-color: rgb(133, 133, 133);
  }
}

.dashboard-page-views {
  background: #ffffff;
  border-radius: 13px;
  margin-top: 5%;
}
.table {
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 5%;
  width: 90%;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}
tbody tr {
  background: #ebebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.data1 {
  display: inline-flex;
}
.product-name {
  margin-left: 15px;
}
.table-action-select {
  width: 123px;
}
.table-product-image {
  width: 30px;
  height: 30px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

footer {
  display: none;
}

@media screen and (max-width: 800px) {
  .table-dots {
    display: none;
  }
  .viewmorebutton {
    display: block;
  }
  footer {
    display: block;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    /* margin-top: 70%; */
    background-color: #fff;
    border-radius: 13px;
    padding: 5%;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* products page */
.products-card-container {
  margin-left: 23%;
  margin-top: 5%;
  max-width: 72%;
  height: auto;

  background: #ffffff;
  border-radius: 13px;
}
.product-photo-box {
  width: 55.08px;
  height: 53px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#products-card-item {
  width: 20rem;
  margin: 2%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.title-display-style {
  display: flex;
  flex-direction: row;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
}
.product-action-button {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
}
.products-action-button-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products-form-select {
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-image: url(./dropdown.svg);
  background-position: calc(100% - 20px) 10px, calc(100% - 20px) 10px, 100% 0;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.products-add-button {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 79px;
}
.products-add-button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
}

.products-card-container-mobile tbody tr {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.products-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 5%;
  width: 90%;
}
.products-action-button {
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-image: url(./dropdown.svg);
  background-position: calc(100% - 20px) 10px, calc(100% - 20px) 10px, 100% 0;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.products-filter-box {
  width: 29px;
  height: 29px;
  background: #c4c4c4;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .product-details-product-price,
  .product-details-product-discounted-price,
  .product-action-button,
  .product-description,
  .products-item-id {
    display: none;
  }
  .products-card-container {
    margin-left: 0%;
    margin-top: 5%;
    height: auto;
    max-width: 100%;
    background: #ffffff;
    border-radius: 13px;
  }
  #products-card-item {
    width: 50rem;
  }
  select {
    display: inline-block;
  }
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .products-add-button {
    bottom: 60px;
    width: 60px;
    height: 60px;
  }
  .products-add-button img {
    margin-top: 25%;
  }
}

/*add product page */

.addproductsform {
  width: 50%;
  margin-left: 5%;
  margin-top: 2%;
}
.addproductslabelbox {
  height: 43px;
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.addproductsselect {
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-image: url(./dropdown.svg);
  background-position: calc(100% - 20px) 10px, calc(100% - 20px) 10px, 100% 0;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.image-upload-box {
  width: 110px;
  height: 110px;
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.small-image-upload-box {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 10px;
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.continue-button {
  width: 113px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (max-width: 800px) {
  .addproductsform {
    margin: 8%;
    width: auto;
  }
}

/*orders page */
.orders-page-container {
  margin-left: 23%;
  margin-top: 5%;
  max-width: 72%;
  background: #ffffff;
  border-radius: 13px;
}

.action-button-css {
  background: #c4c4c4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-image: url(./dropdown.svg);
  background-position: calc(100% - 20px) 10px, calc(100% - 20px) 10px, 100% 0;
  background-size: 15px 15px, 15px 15px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.orders-text {
  margin-top: 5%;
  margin-left: 20px;
}
@media screen and (max-width: 800px) {
  .orders-page-container {
    margin-left: 5%;
    max-width: 100%;
  }
}

/* anaytics page */
.anaytics-page-header {
  margin: 2%;
  width: 22.5%;
  height: 75px;
  background: #c4c4c4;
  border-radius: 7px;
}

.container-anaytics-1 {
  /* width: 70%; */
  height: 431px;
  margin: 5%;
  margin-left: 28%;
  background: #ffffff;
  border-radius: 13px;
}
.text-anaytics {
  margin: 5%;
  text-align: center;
}

.graphboxanalytics {
  margin: 10%;
  height: 180.79px;
  background: #c4c4c4;
  border-radius: 4px;
}
.mobile-graph-view {
  display: none;
}
.twographscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.analytics-graph-1 {
  width: 100px;
  height: 100px;
  background: #c4c4c4;
  border-radius: 6px;
}
.analytics-graph-2 {
  width: 100px;
  height: 100px;
  background: #c4c4c4;
  border-radius: 6px;
}
.graphboxanalytics-2 {
  height: 288px;
  margin: 10%;
  background: #c4c4c4;
  border-radius: 6px;
}
.graphs-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}
.button-graph-filters {
  width: 70px;
  margin: 5%;
  height: 30px;
  background: #979797;
  border-radius: 4px;
}
.graphs-filters-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}
@media screen and (max-width: 800px) {
  .desktop-graph-view {
    display: none;
  }
  .mobile-graph-view {
    display: block;
  }
  .graphboxanalytics {
    border-radius: 6px;
  }
}

/* profile page */

.profile-details-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 66.81%;
  height: 181px;
  margin-left: 25%;
  margin-top: 2%;
  background: #ffffff;
  border-radius: 13px;
}
.profile-image-box {
  width: 100px;
  height: 100px;
  background: #c4c4c4;
  border-radius: 4px;
}
.profile-details-half {
  display: flex;
  flex-direction: column;
}

.profile-page-container-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-left: 18%;
}
.personal-details {
  width: 30.25%;
  height: 379px;
  background: #ffffff;
  border-radius: 13px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
.heading-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop-details {
  width: 508px;
  height: 379px;
  background: #ffffff;
  border-radius: 13px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .profile-details-box {
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    justify-content: flex-start;
  }

  .profile-image-box {
    margin: 5%;
  }
  .profile-details-half {
    display: none;
  }
  .profile-page-container-second {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
  }
  .personal-details {
    width: 100%;
    margin-left: 0%;
  }
  .shop-details {
    margin-top: 5%;

    width: 100%;
  }
}
